.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;



    .team-header{
        grid-column: span 3;
        justify-self: start;
        align-self: flex-end;

        .home-page-button{
            padding: 10px;
            border: 1px solid white;
            width: 100px;
            // background-color: white;
            color: white;
            display: inline;

            .homepage-link-icon{
                position: relative;
                top:2px
            }
        }

        .home-page-button:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            background-color: white;
            color: #282c34;
        }

        .team-title{
            font-size: 4rem;
            margin-bottom: 10px;
            margin-top: 150px;
        }
    }

    .win-loss-section{
        justify-self: center;
        align-self: center;
        padding: 30px;
        text-align: center;
        
        p{
            margin-bottom: 10px;
        }

        .property-title{
            margin-top: 30px;
            margin-left: 70px;
            text-align: center;

            .color-box{
                left:45px;
                top: 15px;
                width: 15px;
                height: 15px; 
            }
    
            .win-Color{
                background-color: #138340; 
            }
    
            .loss-Color{
                background-color: #C43B52;
            }

            p {
                position: relative;
                bottom: 15px;
            }
        }

        
    }

    .match-detail-section{
        grid-column: span 4;
        h2{
            margin-bottom: 5px;
        }
    }

    .more-link{
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        

        .link-icon{
            position: relative;
            top: 5px;
            right: 5px;
        }
    }
}